In [2]:
db = "./bnb/bnb.db"

In [3]:
%load_ext sql
%config SqlMagic.feedback=False
%sql sqlite:///{db}?check_same_thread=false
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[('listings',), ('availabilities',), ('reviews',)]

`$.schema`
```sql
CREATE TABLE IF NOT EXISTS "listings" (
    "id" INTEGER,
    "property_type" TEXT,
    "host_name" TEXT,
    "accommodates" INTEGER,
    "bedrooms" INTEGER,
    "description" TEXT,
    PRIMARY KEY("id")
);
CREATE TABLE IF NOT EXISTS "availabilities" (
    "id" INTEGER,
    "listing_id" INTEGER,
    "date" NUMERIC,
    "available" INTEGER,
    "price" NUMERIC,
    PRIMARY KEY("id"),
    FOREIGN KEY("listing_id") REFERENCES "listings"("id")
);
CREATE TABLE IF NOT EXISTS "reviews" (
    "id" INTEGER,
    "listing_id" INTEGER,
    "date" NUMERIC,
    "reviewer_name" TEXT,
    "comments" TEXT,
    PRIMARY KEY("id"),
    FOREIGN KEY("listing_id") REFERENCES "listings"("id")
);
```

In [3]:
%sql SELECT * FROM "listings" LIMIT 5;

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[(3781, 'Entire rental unit', 'Frank', 2, 1, 'Fully separate apartment in a two apartment building. Space is perfect for an individual or a couple. There is a full bath, bedroom with queen bed, s ... (702 characters truncated) ... artment have commuted to  Massachusetts General Hospital (MGH) and Massachusetts Institute of Technology (MIT).  <br /><br />The harbor and harbor wa'),
 (5506, 'Entire guest suite', 'Terry', 2, 1, "Private guest room with private bath, You do not need to cut through anyone else's space to get to guest room. No shared space.  Private entrance off ... (702 characters truncated) ... ouse.   We offer the comfort of a Inn-like setting combined with easy access to all of City! <br /><br /><br />>>> Details:<br /><br /><br />**Locate"),
 (6695, 'Entire condo', 'Terry', 4, None, 'Comfortable,  Fully Equipped private apartment on 2 levels.  Sleeps up to 4.  Sleeper sofa in living room Steps inside unit to bedroom.<br /><br /><b ... (702 characters truncated) ... arking on most streets, No permit required <br /><br />**Easy access to all of Boston, Downtown Crossing, Hynes Convention Center, Walk to Museums, S'),
 (8789, 'Entire rental unit', 'Anne', 2, 1, 'This unit is for sale. There will need to be occasional showings. This unit is available for a few months at the most. Bright, 1 bed with curved glas ... (702 characters truncated) ... ark Street T stop, Boylston Green T stop and Government Center Green T stop are all an easy walk.<br /><br />Rent includes utilities, high speed inte'),
 (10813, 'Entire rental unit', 'Michelle', 2, None, 'Stunning Back Bay furnished studio apartment. Classic brick brownstone on a quiet street. Elegant large studio apartment with bow window overlooking  ... (702 characters truncated) ... t w/Queen Mahogany Murphy Bed in a Victorian brownstone along tree-lined Marlborough St. Well maintained and updated with bow front windows, full gal')]

In [7]:
%%sql
CREATE VIEW "no_descriptions" AS
SELECT
    "id",
    "property_type",
    "host_name",
    "accommodates",
    "bedrooms"
FROM "listings";

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[]

In [9]:
%sql SELECT * FROM "no_descriptions" LIMIT 10;

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[(3781, 'Entire rental unit', 'Frank', 2, 1),
 (5506, 'Entire guest suite', 'Terry', 2, 1),
 (6695, 'Entire condo', 'Terry', 4, None),
 (8789, 'Entire rental unit', 'Anne', 2, 1),
 (10813, 'Entire rental unit', 'Michelle', 2, None),
 (10986, 'Entire condo', 'Michelle', 2, None),
 (18711, 'Entire rental unit', 'Lance', 7, 3),
 (29765, 'Entire rental unit', 'Elizabeth', 2, 1),
 (40601, 'Private room in home', 'Robert', 2, None),
 (45987, 'Entire rental unit', 'Atef', 3, 1)]

In [ ]:
%%sql
CREATE VIEW "one_bedrooms" AS
SELECT
    "id",
    "property_type",
    "host_name",
    "accommodates"
FROM "listings"
WHERE "bedrooms" = 1;

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[]

In [5]:
%sql SELECT * FROM "one" LIMIT 10;

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[(3781, 'Entire rental unit', 'Frank', 2),
 (5506, 'Entire guest suite', 'Terry', 2),
 (8789, 'Entire rental unit', 'Anne', 2),
 (29765, 'Entire rental unit', 'Elizabeth', 2),
 (45987, 'Entire rental unit', 'Atef', 3),
 (67774, 'Entire condo', 'Anne', 3),
 (197972, 'Entire rental unit', 'Chris & Kristina', 2),
 (220676, 'Private room in townhouse', 'Howard', 3),
 (507525, 'Entire rental unit', 'Guy', 2),
 (583255, 'Entire rental unit', 'Valery', 2)]

In [21]:
%%sql
CREATE VIEW "available" AS
SELECT "listings"."id",
    "property_type",
    "host_name",
    "availabilities"."date"
FROM "listings"
JOIN "availabilities" ON 
    "availabilities"."listing_id" = "listings"."id"
WHERE "availabilities"."available" = 'TRUE';

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[]

In [22]:
%sql SELECT * FROM "available" LIMIT 10;

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[(3781, 'Entire rental unit', 'Frank', '2023-07-14'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-15'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-16'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-17'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-18'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-19'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-20'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-21'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-22'),
 (3781, 'Entire rental unit', 'Frank', '2023-07-23')]

In [12]:
%%sql
CREATE VIEW "frequently_reviewed" AS
SELECT "listings"."id",
       "listings"."property_type", 
       "listings"."host_name",
       "review_counts"."reviews"
FROM "listings"
JOIN (
    SELECT "listing_id", COUNT(*) as "reviews"
    FROM "reviews" 
    GROUP BY "listing_id"
) AS "review_counts" ON 
    "review_counts"."listing_id" = "listings"."id"
ORDER BY "review_counts"."reviews" DESC
LIMIT 100;

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[]

In [14]:
%sql SELECT * FROM "frequently_reviewed";

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[(4090224, 'Entire home', 'Tiffany', 860),
 (18290558, 'Private room in home', 'Boris & Susan', 786),
 (815639, 'Entire condo', 'Jason', 773),
 (916123, 'Entire condo', 'Jason', 767),
 (18584891, 'Private room in home', 'Roger Michael &Quot;Corey&Quot;', 733),
 (13393418, 'Entire rental unit', 'Sandra', 698),
 (19117781, 'Private room in home', 'Roger Michael &Quot;Corey&Quot;', 692),
 (17974950, 'Private room in home', 'Boris & Susan', 681),
 (766700, 'Entire condo', 'Jason', 672),
 (36237250, 'Room in boutique hotel', 'A Delightful Hotel', 669),
 (4568116, 'Entire rental unit', 'Jonathan', 665),
 (1472520, 'Private room in home', 'CarneyFamily', 633),
 (18342707, 'Private room in home', 'Boris & Susan', 621),
 (22327139, 'Private room in home', 'Boris & Susan', 616),
 (18342681, 'Private room in home', 'Boris & Susan', 605),
 (24944930, 'Private room in rental unit', 'Lance And Shelly', 604),
 (1321422, 'Entire home', 'CarneyFamily', 600),
 (11202183, 'Entire guest suite', 'Norah', 599),
 (22099733, 'Private room in home', 'Boris & Susan', 597),
 (891661, 'Entire rental unit', 'Paolo', 588),
 (6089865, 'Entire condo', 'Jason', 579),
 (22327141, 'Private room in home', 'Boris & Susan', 571),
 (8402408, 'Private room in loft', 'Betsy', 568),
 (26828892, 'Private room in rental unit', 'Lance And Shelly', 563),
 (13594886, 'Private room in rental unit', 'Andrea And Tivan', 550),
 (19727919, 'Private room in rental unit', 'Lance And Shelly', 545),
 (8720718, 'Entire guest suite', 'Riyo', 541),
 (22327142, 'Private room in home', 'Boris & Susan', 501),
 (45346226, 'Shared room in boutique hotel', 'FOUND Hotel', 501),
 (13032590, 'Entire rental unit', 'Jurek', 480),
 (29134558, 'Private room in home', 'Totana', 475),
 (197972, 'Entire rental unit', 'Chris & Kristina', 461),
 (20479416, 'Private room in home', 'Lance And Shelly', 454),
 (45449241, 'Room in boutique hotel', 'FOUND Hotel', 448),
 (257588, 'Entire rental unit', 'Meri', 440),
 (1644031, 'Private room in townhouse', 'Brooke', 437),
 (4263736, 'Private room in townhouse', 'Jonathan', 429),
 (7330494, 'Entire rental unit', 'Katarzyna', 429),
 (5709298, 'Entire rental unit', 'Jay', 423),
 (708802, 'Entire rental unit', 'Gerard  And Marie', 420),
 (5940866, 'Private room in townhouse', 'Valerie', 409),
 (2395326, 'Entire rental unit', 'Tim', 408),
 (4555637, 'Private room in townhouse', 'Jonathan', 407),
 (3129309, 'Entire condo', 'Jason', 406),
 (15147053, 'Entire condo', 'Lynel', 402),
 (15559436, 'Entire rental unit', 'Charles', 402),
 (12269155, 'Entire condo', 'Richard', 398),
 (45349148, 'Room in boutique hotel', 'FOUND Hotel', 397),
 (21190750, 'Entire guest suite', 'Bill And Maureen', 392),
 (22267104, 'Entire guest suite', 'Bill And Maureen', 392),
 (4765070, 'Entire rental unit', 'Katty', 390),
 (447826, 'Private room in home', 'Hilary', 375),
 (15148487, 'Entire condo', 'Kaitlyn', 368),
 (3343428, 'Private room in townhouse', 'Jonathan', 364),
 (5166870, 'Entire rental unit', 'Matt And Eva', 361),
 (25326962, 'Private room in townhouse', 'Claire', 359),
 (3969526, 'Entire rental unit', 'Liesl', 355),
 (25328440, 'Private room in townhouse', 'Claire', 354),
 (4909590, 'Entire rental unit', 'Vj', 345),
 (21182192, 'Entire rental unit', 'Margarita', 340),
 (19199379, 'Entire rental unit', 'Elisangela', 339),
 (22788158, 'Entire rental unit', 'Roland', 339),
 (7832890, 'Entire rental unit', 'Maverick', 335),
 (47521, 'Private room in home', 'Hermina', 334),
 (33352473, 'Room in hotel', 'Boston Park Plaza', 332),
 (13829133, 'Entire guest suite', 'Riyo', 331),
 (21238858, 'Entire guest suite', 'Dana And Andrew', 329),
 (20868619, 'Entire rental unit', 'Kevin', 327),
 (8518237, 'Entire rental unit', 'James', 326),
 (4460532, 'Private room in townhouse', 'Jonathan', 325),
 (4614037, 'Entire rental unit', 'Elisangela', 323),
 (14943350, 'Private room in home', 'Robin', 320),
 (7692933, 'Private room in townhouse', 'Phyllis', 319),
 (5870922, 'Private room in home', 'Todd', 317),
 (7728499, 'Entire rental unit', 'Maverick', 314),
 (14868157, 'Private room in home', 'Lori', 313),
 (22886713, 'Entire guest suite', 'Kevin', 311),
 (27339519, 'Entire rental unit', 'Frank & Delilah', 311),
 (220676, 'Private room in townhouse', 'Howard', 308),
 (17523133, 'Private room in home', 'Glenn', 304),
 (4105704, 'Entire rental unit', 'Helen', 303),
 (77691, 'Private room in home', 'Hermina', 302),
 (15256830, 'Private room in home', 'Robin', 302),
 (29739809, 'Entire condo', 'Tim', 302),
 (48788607, 'Private room in home', 'Totana', 299),
 (18756360, 'Private room in home', 'Gregory', 298),
 (33016886, 'Private room in rental unit', 'John', 297),
 (5769127, 'Entire rental unit', 'Maverick', 295),
 (27168524, 'Private room in home', 'Von', 295),
 (29390698, 'Entire guest suite', 'Bill And Maureen', 294),
 (2014882, 'Private room in home', 'Yossi', 293),
 (14770892, 'Entire condo', 'Philip And Ann', 293),
 (17567087, 'Entire rental unit', 'Maude', 293),
 (29682500, 'Entire condo', 'Timothy', 292),
 (27203329, 'Private room in townhouse', 'Claire', 291),
 (4863108, 'Private room in home', 'John', 290),
 (25770647, 'Entire loft', 'Kelly & Chris', 290),
 (17832598, 'Entire home', 'Jingjing', 289),
 (22840213, 'Entire guest suite', 'Kevin', 288),
 (33013194, 'Private room in rental unit', 'John', 286)]

In [ ]:
%%sql
CREATE VIEW "june_vacancies" AS
SELECT "listings"."id",
    "listings"."property_type",
    "listings"."host_name",
    "vacant_count"."days_vacant"
FROM "listings"
JOIN(
    SELECT "listing_id", count("id") AS "days_vacant" 
    FROM "availabilities"
    WHERE "date" BETWEEN '2023-06-01' AND '2023-06-30'
    AND "available" = 'TRUE'
    GROUP BY "listing_id") AS "vacant_count"
ON "listings"."id" = "vacant_count"."listing_id";

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[]

In [4]:
%sql SELECT * FROM "june_vacancies" LIMIT 20;

 * sqlite:///./bnb/bnb.db?check_same_thread=false

[(10813, 'Entire rental unit', 'Michelle', 9),
 (10986, 'Entire condo', 'Michelle', 9),
 (67774, 'Entire condo', 'Anne', 1),
 (184893, 'Private room in bed and breakfast', 'Dawn', 9),
 (210097, 'Entire home', 'Maria Elena', 2),
 (257588, 'Entire rental unit', 'Meri', 1),
 (297994, 'Entire home', 'Albert', 7),
 (619142, 'Entire home', 'Joe', 5),
 (646087, 'Private room in townhouse', 'Ingrid', 3),
 (743211, 'Entire home', 'Margaret', 3),
 (750438, 'Private room in rental unit', 'Lisa', 5),
 (766700, 'Entire condo', 'Jason', 4),
 (789843, 'Entire rental unit', 'Ally', 4),
 (815639, 'Entire condo', 'Jason', 3),
 (820073, 'Entire loft', 'Kelly & Chris', 5),
 (891661, 'Entire rental unit', 'Paolo', 1),
 (916123, 'Entire condo', 'Jason', 4),
 (973695, 'Private room in condo', 'Claire', 9),
 (989163, 'Room in aparthotel', 'Laura And Olivia', 5),
 (1275498, 'Entire rental unit', 'Laura And Olivia', 5)]